*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(235, 242, 255), #eae8ff, rgb(246, 233, 255), rgb(248, 235, 252), rgb(255, 239, 250), rgb(251, 236, 255), rgb(244, 232, 255), #ebe9ff,rgb(225, 235, 252), #e4e1ff, rgb(245, 231, 254), rgb(247, 233, 252), rgb(255, 243, 251), rgb(248, 232, 253), rgb(236, 220, 252), #cbc7fd,rgb(188, 211, 252));
    position: relative;
    min-height:100vh;
    overflow-x: hidden;
    margin: 0px; 
}

main{
    padding-top: 160px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

header{
    background:rgb(184, 206, 248);
    position: fixed;
    width: 100%;
    height: 120px;
    margin-bottom: 100px;
    z-index: 9999;
}

.reg {
    top: 0px;
    text-align: right;
    margin-left: auto;
    width: max-content;
    margin-right: 5%;
    font-weight: 500;
    text-decoration: none;
    color: white;
    position: fixed;
    right: 0;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
    font-family: 'Inter', sans-serif;
}

.reg:hover{
    background:rgb(166, 193, 245);
}

.geo-phone-entrance {
    display: flex;
    align-items: center;
    width: auto;
    height: 35px;
    font-family: 'Inter', sans-serif;
    background:rgb(176, 202, 250);
}

.geo:hover{
    background:rgb(166, 193, 245);
}

.geo {
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    padding-left: 20px;
    font-size: 14px; 
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.logo{
    margin-right: 2%;
    margin-left: 2%;
    float: left; 
}

.zakrep{
    position: fixed;
    width: 100%;
    height: 120px;
    margin-bottom: 100px;
    z-index: 9999;
}

#burger {
    visibility: hidden;
}

.name{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 70px; 
    font-family: 'Orelega One', serif;
}

.menu {
    position: fixed;
    margin-top: 100px;
    width: 100%;
	display: table;
    z-index: 9999;
    background:rgb(184, 206, 248);
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
}
.menu ul li:hover, .menu a:hover {
	background:rgb(166, 193, 245);
}
.menu li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
    text-decoration: none;
    transition: .3s linear;
    font-family: 'Inter', sans-serif;
}
.katalog::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 3px solid;
	border-right: 3px solid transparent;
	border-bottom: 0;
	border-left: 3px solid transparent;
}
.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	margin: 0;
	padding: 10px 20px;
	width: 248px;
	z-index: 9999;
    background:rgb(184, 206, 248);
    
}
.menu ul ul  {
	display: none;
}
.menu ul ul li  {
	display: block;
	padding: 5px 0;
    transition: .3s linear;
}
.menu ul ul li a  {
	display: block;
	padding: 0;
	text-align: left;
}

ul {
    list-style: none; 
    padding-left: 0;
    list-style-type: none;
    overflow: hidden;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
}
  
footer .textcols{
    width: 100%;
    display: grid;
    padding: 2%;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap: 20px;
}

.cart {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 43px; /* в правом верхнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
  
  /* Увеличиваем кнопку при наведении на нее */
.cart:hover {
    transform: scale(1.1);
}
  /* Стилизуем счетчик товаров */
.cart__num {
    position: absolute;
    background-color: rgb(166, 193, 245);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

.cart__image{
    width: 50px;
    height: 50px;
}

/*Notifications*/

.div-notifications {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    z-index: 10;
}
  
.notifications-circle {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 37px;
    right: 37px;
    display: flex;
    justify-content: center;
    border: 0.08em solid rgb(166, 193, 245);
}
  
.notifications-circle img {
    position: absolute;
    height: 60px;
    width: 60px;
    align-self: center;
}
  
.number-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(166, 193, 245);
    right: 5px;
    box-shadow: 0px 0px 10px #946affad;
}
  
.p-circle {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top: -1.5px;
    right: 4.5px;
}
.notifications-list {
    position: absolute;
    opacity: 0;
    height: 300px;
    bottom: 0px;
    right: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    overflow-y: scroll;
    min-width: 250px;
}
.popup__product-delete {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    background: white;
    cursor: pointer;
    color: #d62240;
    border: none;
    border-radius: 15px;
}
.notifications-list::-webkit-scrollbar {
    width: 8px;
  }
  
.notifications-list::-webkit-scrollbar-thumb {
    background-color: rgb(166, 193, 245);
    border-radius: 10px;
}
  
.notifications-list:hover{
    opacity: 0;
}
  
.notifications-circle:hover .notifications-list {
    opacity: 1;
}
  
.notification {
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(48, 8, 141);
    padding: 20px;
}
  
.notification:hover {
    height: auto;
    color:white;
    background-color:rgb(176, 202, 250);
    border-radius: 10px;
}

.foota{
    color: black;
    text-decoration: none;
    font-family: 'Zen Old Mincho', serif;
    margin-left: 10px;
}

.foota:hover{
    text-decoration: underline;
}

.info{
    color: black;
    font-family: 'Zen Old Mincho', serif;
}

.icons{
    display:flex;
    width:100%;
    height:auto;
    justify-content: center;
    column-gap: 1rem;
    transform-style: preserve-3d;
}
.icons #vk, .icons #tg, .icons #ig{
    width:3rem;
    height:3rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    color:white;
    padding-top: 0.75rem;
    cursor:pointer;
    margin-top:1rem;
    box-shadow: 0px 0px 9px 2.5px rgba(20, 20, 21, 0.45);
    position:relative;
    overflow: hidden;
    transform-style: preserve-3d;
    z-index: 1;
}
  
.icons #vk::after{
    content:'';
    position:absolute;
    background:radial-gradient(rgb(17, 82, 223), rgb(113, 146, 255));
    width:100%;
    height:100%;
    top:-3rem;
    left:0;
    transition:1s ease-in;
    z-index: -1;
}
.icons #tg:after{
    content:'';
    position:absolute;
    background:radial-gradient(rgb(44, 93, 198), rgb(12, 36, 115));
    width:100%;
    height:100%;
    top:-3rem;
    left:0;
    transition:1s ease-in;
    z-index: -1;
}
.icons #ig:after{
    content:'';
    position:absolute;
    background:linear-gradient(to bottom right, rgb(184, 4, 175), rgb(253, 140, 10));
    width:100%;
    height:100%;
    top:-3rem;
    left:0;
    transition:1s ease-in;
    z-index: -1;
}
.icons #vk:hover:after, .icons #tg:hover:after, .icons #ig:hover:after{
    transform:translateY(3rem);
    z-index: -1;
}

@media (max-width: 1544px) {
    #burger {
      visibility: hidden;
    }
}
@media (max-width: 1383px) {
    .cart{
        top: 43px; /* в правом верхнем углу */
        right: 16%;
    }
    footer{
      padding: 40px;
    }
    label.menu-btn{
      position: fixed;
      margin-left: 70%;
      z-index: 10000;
    }
    .menu{
      display: block;
    }
    .menu ul{
      position: fixed;
      background-color: rgb(184, 206, 248);
      right: 0;
    }
    .menu li{
      display: block;
    }
    .katalog:after{
      content: none;
    }
    .menu li:hover ul{
      display: none;
    }
    .menu-btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 60px;
      right: 8%;
      width: 36px;
      height: 36px;
      cursor: pointer;
      z-index: 11;
    }
    .geo{
      visibility: hidden;
    }
    .reg{
      top: 0px;
      text-align: left;
      margin-left: 5%;
      width: max-content;
      font-weight: 300;
      text-decoration: none;
      color: white;
      position: fixed;
      left: 0;
      font-size: 14px;
      padding: 10px;
      z-index: 1;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: rgb(166, 193, 245);
      transition-duration: 0.25s;
    }
    .menu-btn > span::before {
      content: "";
      top: -8px;
    }
    .menu-btn > span::after {
      content: "";
      top: 8px;
    }
    #burger {
      opacity: 0;
    }
    #burger:checked ~ .menu-btn > span {
      transform: rotate(45deg);
    }
    #burger:checked ~ .menu-btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #burger:checked ~ .menu-btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
  
    #burger:checked {
      visibility: visible;
      left: 0;
    }
    .menu {
      display: none;
      position: absolute;
      height: max-content;
      width: max-content;
      user-select: none;
      border-radius: 10px;
      top: 120px;
      padding: 0;
      margin: 0;
      right: 0;
    }
    .menu ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .katalog ul{
      visibility:hidden;
    }
    #burger:checked + label + .menu {
      display: block;
      animation: show 0.5s ease;
    }
  }

@media (max-width: 1244px) {
    .cart{
        right: 14%;
    }
}

@media (max-width: 1090px) {
    .name{
        margin-top: 10px;
        font-size: 50px;
    }
    footer .textcols{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .menu-btn {
        right: 4%;
    }
    .cart{
        right: 12%;
    }
}

@media (max-width: 705px) {
    footer .textcols{
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
    .name{
        margin-top: 13px;
        font-size: 40px;
    }
    .logo img{
        margin-top: 9px;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 688px) {
    .foothead{
      font-size: 10px;
    }
}

@media (max-width: 610px) {
    .name{
        margin-top: 15px;
        font-size: 35px;
    }
    .logo img{
        margin-top: 9px;
        width: 60px;
        height: 60px;
    }
    .menu-btn {
        right: 5%;
    }
    .cart{
        right: 12%;
    }
}

@media (max-width: 560px) {
    .name{
        margin-top: 20px;
        font-size: 30px;
    }
    .menu-btn {
        right: 5%;
    }
    .cart{
        right: 13%;
    }
}

@media (max-width: 485px) {
    .name{
        line-height: 0.85;
        width: 55%;
        padding-left: 10%;
        white-space: normal;
        margin-top: 10px;
        font-size: 35px;
    }
    .menu-btn {
        right: 15%;
    }
    .cart{
        right: 25%;
    }
}

@media (max-width: 450px) {
    .name{
        font-size: 30px;
    }
    .menu-btn {
        right: 13%;
    }
}

@media (max-width: 362px) {
    .name{
        font-size: 27px;
        padding-top: 7px;
    }
}

@media (max-width: 322px) {
    .name{
        font-size: 25px;
    }
    .logo img{
        margin-top: 9px;
        width: 50px;
        height: 50px;
    }
}
